<!DOCTYPE html>
<html>
<head>
    <title>Tempastlate databasagna!</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/y/c/yc9japkm1a.ico" type="image/x-icon" />
<meta charset="UTF-8">
</head>
<body>
    <nav>
        <a href="../" title="first page">home </a>
        - 
        <a href="../terms1" title="first batch of terms"> terms1 </a>
        -
        <a href="../terms2" title="second batch of terms"> terms2 </a>
        -
        <a href="../inputs" title="add your own"> input </a>
        -
        <a href="../game_to_be" title="collection of inputs"> game to be </a> 
    </nav>



    <h1> TEMPASTALATES </h1>
  
    {% block content %}
    
    {% endblock %}

    <br>
    <footer>
        <p> Kalindi </p><p> May-June-July 2015 </p><p> Stage 4</p>
    </footer>


</body>
</html>