{% extends "base.html" %}

{% block content %}

<h2>Welcome to my stage 4 project</h2>
<p> 
		One idea I had was to make a memory game, 
		<br>with the terminology and all other things that are part of stage 4,
		<br>but at some point I figured it went too much out 
		<br>of the way of learning about datastorage, so I redirected myself.
		<br>
		<br>I however decided to keep the thought, 
		<br>and decided to ask for couples of things from the visitors on my page.
		<br>
		<br>
		<br>You can input yours <a href="/inputs" title="add your own - link to input page ">here</a>.
		<br>
		<br>Wish you a pleasant tiny trip around the page.
<p>

{% endblock %}