{% extends "base.html" %}
{% block content %}
<h2>Welcome to my stage 4 project with stage 5 functionality</h2>
<p> 
	Here is my memory game!
	<br>
	<br>During stage 4 for I visually and conceptually styled a possible game of memory.
	<br> But I did not know how to make it respond to users in a meaningful way, 
	<br> by giving the user feedback on his memory successess. 
	<br> I was thinking about maybe impleneting it with python, but it did not come clear to me how.
	<br>
	<br> When I watched the stage 5 videos, I decided I'll give javascript a shot.
	<br> 
	<br> Well here it is:
	<br> The educational version with my
		<a href="/inputs" title="javascript notes memory game"> javascript notes</a>. 
	<br>
	<br> If you are up for a more personalized game you can input your pairs 
		<a href="/inputs" title="add your own - link to input page ">here</a>.
	<br>
	<br>Wish you a pleasant tiny trip around the page.
<p>
{% endblock %}